@mixin flex ($justify, $align){
  display: flex;
  justify-content:$justify;
  align-items: $align;
}
@mixin name($font-size, $top) {
  letter-spacing: 10px;
  margin:0;
  position: absolute;
  color: $color_font;
  font-size:$font-size;
  top:$top;
}
@mixin bg-gradient() {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, $bg-color 0%, $bg-color2);
}
@mixin bg-gradient-2() {
  background: rgb(249,253,255);
  background: linear-gradient(180deg, rgba(249,253,255,1) 0%, rgba(208,241,244,1) 100%);
}
@mixin lista() {

    ul{
      display: flex;
      list-style: none;
      flex-direction: column;
      min-width: 260px;
    }
    a{
      padding: 15px;
      cursor: pointer;
    }
    a:hover{
      color: $bg-color2;
    }
  
}

$color_font: #e8eaeb;
$bg-color: #f9fdff ;
$bg-color2: rgb(39, 133, 139) ;


body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Aref Ruqaa Ink', serif;
  background: $bg-color ;

}
nav{
  ul{
    @include flex(flex-end,center);
    margin:0;
    padding-right: 20px;
    gap: 10px;
    
    
    i{
      list-style: none;
      padding:10px;
    };
    
  }
}
.container_1{
  background-color: $bg-color2 ;
  display: flex;
  justify-content: space-between;

  .perfil{
    display: flex;
  }

  .profile{
    @include flex(center,center);
    height:150px ;
    padding:0 15px;
    margin-left: 70px;
    @include bg-gradient;
    img{
      border-radius:50%;
      height:100px ;
    }
  }
  
  .name{
    padding: 20px 50px;
    h1{
      padding-left: 30px;
      @include name(44px, 90px);
    }
    h2{
      @include name(34px, 60px);

    }
  }

  .profession{
    color: $color_font;
    text-align:left;
    margin:auto 100px;
    font-size: 18px;
  }

}
.main{
  @include flex(start,start);
  @include bg-gradient-2;
  
  height: 100%;

  .skills{
   @include lista;

  .project{
    width: 100%;
    padding:0 10px ;

    .banner{
      display: flex;
      flex-direction: column;
      @include flex(space-between,center);
      padding:0 20px ;
    }
  }
}
.title {
  h1{
    margin:40px 0;
  }
  h3{
    margin:20px 0 40px;

  }
}

.card{
  display: flex;
  padding: 20px;
  img{
    width: 330px;
  }

  .info{
    padding-left: 25px;
  }
}
.poster{
  @include flex(center,center);

  img{
    height: 400px;
  }
}
.catalogo{
  display:grid;
  grid-template-columns: 1fr 1fr;
  
  .card_img{
    @include flex(center,center);
    padding: 20px;
    cursor: pointer;
    
    img{
      border: 1px solid transparent;
      opacity: 0.9;
      height: 225px ;
    }
  }
    img:hover{
    border: 1px solid $bg-color2;
    opacity: 1;
    transition: 0.7s;
  }
}
.lista_projetos_figma{
  border-top: 1px solid $bg-color2;
  padding-top:40px;
  display: none;
}
// .
}

footer{
  @include flex(center,center);
  background: $bg-color2;
  color:$color_font;
}
